/* src/index.css */

@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";

body {
  background-image: url("/src/assets/taxi.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
